<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @dishes.each do |dish| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "1122495.jpg", class: "bd-placeholder-img card-img-top" %>
              <div class="card-body">
                <h5 class="card-title"><%= dish.name %> <%= number_to_currency(dish.price) %></h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to 'Add to Tray', line_items_path(:dish_id => dish.id), class: "btn add-to-cart", remote: true %>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>