<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Backoffice </div>
  <div class="list-group list-group-flush">
    <%= link_to "Dashboard", root_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Dishes", admin_dishes_path, class: "list-group-item list-group-item-action bg-light" %>
    <%= link_to "Orders", admin_orders_path, class: "list-group-item list-group-item-action bg-light" %>
  </div>
</div>